
.download-button {
    /* display: inline-block!important; */
    padding: 10px 20px!important;
    background-color: #070707!important;
    color: #fff!important;
    border: none!important;
    border-radius: 5px!important;
    cursor: pointer!important;
    margin: 5px!important;
    transition: background-color 0.3s, transform 0.3s!important;
}

.download-button:hover {
    background-color: #297fb8;
    transform: scale(1.1);
}



#cloud-upload-icon {
    margin-bottom: 0 !important;
}

/* footer container */
.footer-top .container .row {
    justify-content: space-around;
}