#pdf-to-audio-page1{
    position: relative;
}
#merge-text{
    position: absolute;
    left: 15%;
    top: 15%;
}
#pdf-text{
    position: absolute;
    right: 15%;
    bottom: 15%;
}
.component-row{
    min-height: 40vh!important;
    position: relative!important;
}
#liveAlertPlaceholder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
}
.alert-parent, #mergeBtn{
    width: 75%;
}
#mergeBtn{
    position: absolute;
    top: 5%;
}

#downloadLink{
    color: #1ae4c0;;
}
.btn-row{
    min-height: 50vh!important;
}
#download-btn-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height:20vh;
    margin-top: -15px;
    position: absolute;
    top: 60%;
    display: none;
}


#download-btn {
    position: absolute;
    left: 50%;
    top: 10%;
    margin-top: 30px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 20px;
    padding: 0.5em 2em;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  
  .content {
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: calc(50% + 4em);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s cubic-bezier(0.83, -0.43, 0.21, 1.42);
    -moz-transition: all 0.5s cubic-bezier(0.83, -0.43, 0.21, 1.42);
    transition: all 0.5s cubic-bezier(0.83, -0.43, 0.21, 1.42);
  }
  
  .hide {
    opacity: 0;
    top: calc(50% + 8em);
    cursor: default;
  }
  
  .show {
    opacity: 1;
    top: calc(50% + 4em);
  }
  
  .on {
    background-color: #1976d2;
  }
  
  #download-btn:hover, #btn.active {
    background-color: #1ae4c0;
    color: #3f51b5;
    outline: none;
  }
  
  #download-btn:focus {
    outline: none;
  }
  
  .hover-text {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translateY(-3em);
    opacity: 0;
    scale: 0;
  }
  
  .default-text {
    display: block;
    transform: translateX(0);
  }
  
  span {
    transition: transform 1s cubic-bezier(0.72, -0.61, 0.25, 1.51);
  }
  
  #download-btn:hover .default-text, #btn.active .default-text {
    /* transform: translateY(3em); */
    opacity: 0;
  }
  
  #download-btn:hover .hover-text, #btn.active .hover-text {
    transform: none;
    opacity: 1;
    scale: 1;
  }

  .fa-download{
    font-size: 40px!important;
    color: #000!important;
  }

  /* footer container */
.footer-top .container .row{
  justify-content: space-around;
}